@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* NAVBAR */
* {
   font-family: 'Roboto', sans-serif;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   position: relative;
}

body {
   background-color: #f1e7ee;
}

.logo-image {
   height: 32px;
   width: 32px;
}

nav {
   display: flex;
   color: #bebebe;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   font-weight: 300;
   background-color: #2e313d;
   font-size: 14px;
}

nav a {
   color: #bebebe;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

nav li {
   display: flex;
}

/* NAV-1  */
.nav-1 .nav-logo {
   display: flex;
   justify-content: center;
   font-size: 20px;
   margin-right: 40px;
   line-height: 20px;
   align-items: center;

}

/* NAV-2 */
.nav-list li a {
   height: auto;
   padding: 19px 20px;
}

.nav-element:hover {
   background-color: #424550;
   color: #fff;
}

/* NAV-3 */
.nav-login {
   align-items: center;
   margin-left: 150px;
   padding: 5px 25px;
}

.nav-regist {
   color: #fff;
   background-color: #df2384;
   margin-left: 40px;
   padding: 3px 15px;
   border-radius: 3px;
}

.nav-login :first-child:hover {
   color: #fff;
}

.logo-name {
   margin: 0 0 0 6px;
   color: #fff;
}

/* SEARCHBOX */
.searchbox {
   display: flex;
   position: relative;
   top: 200px;
   background-color: hsla(0, 0%, 5%, .6);
   padding: 13px 25px;
   width: 580px;
   margin: auto;
   border-radius: 3px;
   justify-content: center;

}

.app {
   background-image: url('./components/files/showcase.jpeg');
   background-position-x: 50%;
   background-position-y: center;
   background-size: cover;
   height: 580px;
}

.combo-box-demo-class {
   font-size: 15px;
}

#combo-box-demo,
#combo-box-demo2:hover {
   cursor: pointer;
}

.span-searchbox {
   display: block;
   color: #cecece;
   font-size: 11px;
   padding-bottom: 5px;
   margin: 0px 10px;

}

.searchbox-textfield {
   align-items: center;
   /* cant make field less in size */
}

/* DIV Middle */
.text-middle {
   margin-top: 455px;
   margin-bottom: 40px;
   /* margin +40px cause of standard */
   padding: 0px 15px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   text-align: center;
   position: relative;
   color: #4f5259;
   font-size: 18px;
}

h1 {
   font-size: 30px;
   font-weight: 300;
   line-height: 1.1;
   color: #222;
}

h4 {
   font-weight: 300;
   line-height: 1.1;
   margin: 10px;
   margin-bottom: 10px;
}

/* AUTOGRID  */
.cards-row {
   display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   justify-content: center;
   padding: 10px;
}

.media-list {
   width: 100%;
   margin-right: 30px;
   margin-top: -5px;
   border-radius: 0px 0px 4px 4px;
   line-height: 1.432;
   background-color: #f1f0f0;
}

.panel-title {
   padding: 15px 10px;
   border-radius: 4px 4px 0 0;
   display: flex;
   justify-content: center;
   font-size: 18px;
   font-weight: 200;
   background-color: #e5509d;
}

.panel-title-link {
   text-decoration: none;
   color: #fff;
}

.media-icon {
   width: 22px;
   height: 22px;
   margin-right: 10px;
   opacity: .5;
   color: #fff;
}

.card-1 {
   padding-left: 15px;
   padding-right: 15px;
   width: 300px;
}

.img-responsive {
   width: 100%;
}

.img-sm-round {
   border: 2px solid hsla(0, 0%, 100%, .3);
   width: 55px;
   height: 55px;
   border-radius: 50%;
}

.media-body {
   margin-left: 10px;
}

ul a {
   display: flex;
   color: #333;
   font-size: 14px;
   padding: 8px 10px;
   border-bottom: 1px solid hsla(0, 0%, 80%, .5);
   align-items: center;
}

.ellipsis {
   display: inline-block;
   font-size: 12px;
   color: #777;
   margin-top: 8px;
   white-space: nowrap;
   width: 190px;
   overflow: hidden;
   text-overflow: ellipsis;

}

.map-icon {
   display: inline-block;
   color: #f2a9cf;
   margin-right: 2px;
}

/* HOVER AND CLICK EFFECT */


.panel-header:hover {
   border-radius: 4px;
   background-color: #4f5259;

}

.media-list li:hover {
   background-color: #fff;
}

.panel-header img:hover,
.panel-header h3:hover {
   border-radius: 4px;
   -webkit-filter: brightness(89%);
   filter: brightness(0.89);
}

.panel-header .panel-title :hover {
   color: white;
}